
*{
    font-size: 20px;
    background-color: black;
    color: white;  
     

    border: 0;
    
}

header  {
    
   
     text-align: center;
    border-bottom: 15px solid purple;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 5%;
    border-top: 15px solid purple;
    border-top-right-radius: 20%;
    border-top-left-radius: 5%;
    padding: 0; 


}
header img {
    margin: 0;

    width: 200px;
    height: auto; ;
}
 


header nav li a{
    display: flex;
    


    
    padding: 5px 10px;
    display: block;
   
}
 
header li a:hover{

    gap: 15px;
    color: black;
    
    background-color: purple;
}  

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;

}


h2{
    font-family: Arial, Helvetica, sans-serif;

    font-size: 1.4em;
    line-height: 1.2;

}

li{
    display: inline-block;
    
    padding: 5px 10px;
    
}

li a {
    text-decoration: none;
  
    color: purple;
    font-size: 1.3em;
}
p a {
    color: purple;
    font-size: 1.3em;
}
li{
    color: purple;
}
h3,h4,h5,h6{
    color: purple;

}

.center img{
    text-align: center;
}

p.container{
    position: absolute;
    top: 5px;
    left: 5px;
}

