*{
    font-size: 20px;
    background-color: black;
    color: white;  
}



header  {
    text-align: center;
    
}
header img {
    width: 700px;
    height: 500px; ;
}



h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8em;

}


h2{
    font-family: Arial, Helvetica, sans-serif;

    font-size: 1.4em;
    line-height: 1.2;

}

li>a {
  
    color: purple;
    font-size: 1.3em;
}
p a {
    color: purple;
    font-size: 1.3em;
}
li{
    color: purple;
}
h3,h4,h5,h6{
    color: purple;

}