*{

    background-color: black;
    color: white;
}


table {
    font-family: Arial;
    background-color: purple;
    font-size: 20px;
    width: 100%;
    
 


}

div.fondo{
    background-color:purple;
 
}


th:hover{
    background-color: blueviolet;
    border-top-style: dotted;


}

table th:nth-child(){
    background-color: purple;
}

td.disponible:hover{
    background-color: green;
}
td.no-disponible:hover{
    background-color: red;
    opacity: 0.5;
}

footer button:only-child{
    color: white;
    background-color: black;
    border: 5px solid purple;

    font-size: 15px;

}

