@font-face {
    font-family: ;
    src: url(
         <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=chevron_left" />),

    src:url(  <p><a href="Inicio.html"> <span class="material-symbols-outlined" title="Volver">
    chevron_left</span> </a></p>)
}